* {
    
}

body {
    margin: 0;
}

.header {
    color: #FFFFFF;
    background-color: #1F2937;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
    padding-bottom: 60px;
}

.topHeader {
    display:flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.botHeader {
    display: flex;
    justify-content: space-between;
}

.placeholder {
    display: flex;
    height: 195px;
    width: 500px;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.right-links {
    font-size: 18px;
    display:flex;
    gap: 18px;
}

.title {
    display:flex;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
}

.heroMain {
    display:flex;
    font-size: 48px;
    font-weight: bolder;
    width: 400px;
    line-height: 40px;
}

.heroDesc {
    display:flex;
    margin-top: 5px;
    font-size: 18px;
    width: 400px;
}

.signupButton {
    background-color: lightblue;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: none;
    margin-top: 5px;
}

.box {
    width:125px;
    height:125px;
    border: solid rgb(28, 106, 250);
    border-radius: 10px;
    margin-left: 35px;
}

.middle {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    padding-top: 30px;
}

.subtext {
    padding-top: 10px;
}
  
.boxplustext {
    max-width: 200px;
}

.middletitle {
    padding-top: 18px;
    color: #1F2937;
    font-size: 36px;
    text-align: center;
}

a {
    color: #FFFFFF;
    text-decoration: none;
  }