* {
    
}

body {
    margin: 0;
}

.header {
    color: #FFFFFF;
    background-color: #1F2937;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
    padding-bottom: 100px;
}

.topHeader {
    display:flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.botHeader {
    display: flex;
}

.placeholder {
    display: flex;
    height: 195px;
    width: 500px;
    margin-left: 350px;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.right-links {
    font-size: 18px;
    display:flex;
    gap: 18px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
}

.heroMain {
    font-size: 48px;
    font-weight: bolder;
    width: 400px;
    line-height: 40px;
}

.heroDesc {
    margin-top: 5px;
    font-size: 18px;
    width: 400px;
}

.signupButton {
    background-color: lightblue;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: none;
    margin-top: 5px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
  }